<ion-view title="首页">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-icon ion-ios-plus-empty" href="#/app/category-list">
    </a>
  </ion-nav-buttons>
  <ion-content>

    <img class="full-image image-title" src="/views/home/img/androidbanner.png">
    <div class="row stable-bg">
      <div class="col col-33">
        <h6>今日报表</h6>
        <p>256.14</p>
        <p>昨日：256.14<i class="icon ion-arrow-right-a balanced"></i></p>
      </div>
      <div class="col col-33">
        <h6>本周周报表</h6>
        <p>256.14</p>
        <p>同期：525.78<i class="icon ion-arrow-down-a dark"></i></p>
      </div>
      <div class="col col-33">
        <h6>本月报表</h6>
        <p>256.14</p>
        <p>同期：125.78<i class="icon ion-arrow-up-a assertive"></i></p>
      </div>
    </div>

    <div class="row row-wrap row-no-padding">
      <div class="col col-25 col-border quick-action-item" ui-sref="app.product-add">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-xbox  energized"></i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-playstation energized"></i>
          <h5>收银记账</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-steam energized"></i>
          <h5>新增会员</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-apple energized"></i>
          <h5>支出管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item" ui-sref="app.product-list">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-android energized"></i>
          <h5>商品管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-twitter energized"></i>
          <h5>查询销售</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-facebook energized"></i>
          <h5>会员管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-googleplus energized"></i>
          <h5>智能分析</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-freebsd-devil energized"></i>
          <h5>供应商管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-nodejs energized"></i>
          <h5>挂单</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-tux energized"></i>
          <h5>高级功能</h5>
        </a>
      </div>
    </div>
  </ion-content>
  <company-directive bottom="5px"></company-directive>
  <!--<div class="bar bar-footer" style="background-image: none;">
    <h1 class="title">©2010-2016 生意专家</h1>
  </div>-->
</ion-view>
