<ion-view view-title="欢迎页">
  <ion-content scroll="false">
    <ion-slide-box>
      <ion-slide>
        <img class="full-image" src="views/welcome/img/splsh_one.png">
      </ion-slide>
      <ion-slide>
        <img class="full-image" src="views/welcome/img/splsh_two.png">
      </ion-slide>
      <ion-slide>
        <img class="full-image" src="views/welcome/img/splsh_three.png">
      </ion-slide>
    </ion-slide-box>
    <div class="row padding-left padding-right" style="position: absolute;bottom: 0px;"></div>
  </ion-content>
  <div class="row padding-left padding-right" style="position: absolute; bottom:10px;">
    <div class="row">
      <div class="col col-50 padding-right">
        <button class="button button-energized button-block" ui-sref="login">登入</button>
      </div>
      <div class="col col-50 padding-left">
        <button class="button button-energized button-outline button-block">注册
        </button>
      </div>
    </div>
  </div>
</ion-view>
