/* Empty. Add your own CSS if you like */
.margin-left{
  margin-left:10px;
}
.side-background{
  background-color: rgb(78,78,78);
}
.side-menu li{
  border-left:none;
  background-color: rgb(78,78,78);
}
.side-menu li i{
  font-size:medium!important;
}
.image-title{
  height: 33%;
}
.col-border{
  border:solid 1px #ececec;
  border-right-style: none;
  border-bottom-style: none;
}
.col-border:last-child{
  border-right: solid 1px #ececec;
}
.quick-actions{
  display: table;
}
.quick-action-item{
  height: 25vw;
  margin-left: -1px;
  display: flex;
  align-items: center;
  margin-top: -1px;
}
.row:last-child .col-border{
  border-bottom: solid 1px #ececec;
}
.shortcut{
  height: auto;
}
.on-right{
  margin-left: 40%;
  width: 60%;
}
.active-item{
  background-color: #fff;
  border-left-color: #FF6A3C;
  border-left-width: 4px;
  border-left-style: solid;
}
.product-image{
  max-height: 80px;
  max-width: 80px;
}


